@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose_50: hsl(20, 50%, 98%);
  --rose_100: hsl(13, 31%, 94%);
  --rose_300: hsl(14, 25%, 72%);
  --rose_400: hsl(7, 20%, 60%);
  --rose_500: hsl(12, 20%, 44%);
  --rose_900: hsl(14, 65%, 9%);
  --red_hat: 'Red Hat Text', sans-serif;
  --fw_400: 400;
  --fw_600: 600;
  --fw_700: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: var(--red_hat);
  font-size: 16px;
  background-color: var(--rose_50);
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*//////////////////////////////////////////////////////////////
                           GLOBAL STYLES & PROPERTIES
//////////////////////////////////////////////////////////////*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 319px) {
  .main.container-fluid {
    width: 100%;
  }

  .main__row {
    display: flex;
    flex-direction: column;
  }

  .main__main {
    width: 100%;
  }

  .main__header {
    width: 100%;
  }

  .main__header h1.title {
    font-weight: var(--fw_700);
    color: var(--rose_900);
    font-size: 48px;
    padding-top: 60px;
    padding-bottom: 32px;
    text-align: center;
  }

  /* END HEADER */

  .container.product-cards {
    margin-bottom: 80px;
  }

  .items {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }

  .item-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
  }

  .item-card__image {
    margin-bottom: 50px;
  }

  .product-image {
    border-radius: 8px;
  }

  .item-card__button {
    border: 1px solid var(--rose_400);
    border-radius: 50px;
    width: 70%;
    padding: 4px 0px;
    background-color: white;
    margin: 0 0;
    text-align: center;
    position: absolute;
    bottom: 102px;
    left: 45px;
  }

  button img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }

  button.btn {
    font-size: 14px;
  }

  /* Button Hover */

  .item-card__title {
    color: var(--rose_500);
    font-size: 14px;
  }

  .item-card__description {
    color: var(--rose_900);
    font-weight: 600;
    font-size: 14px;
  }

  .item-card__price {
    color: var(--red);
    font-weight: 600;
    font-size: 14px;
  }

  .item-card__description,
  .item-card__price {
    margin-top: 2px;
  }

  /* Sidebar */

  .main__side {
    width: 100%;
    margin-bottom: 60px;
  }

  .sidebar {
    background-color: white;
    border-radius: 12px;
    padding: 24px;
  }

  .quantity {
    color: var(--red);
    font-size: 24px;
    font-weight: var(--fw_600);
  }

  .sidebar__cart-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
  }

  p.text {
    color: var(--rose_500);
    font-weight: var(--fw_600);
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
}

/*//////////////////////////////////////////////////////////////
                              Tablets & Up
//////////////////////////////////////////////////////////////*/

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main.container-fluid {
    width: 100%;
  }

  .main__row {
    display: flex;
    flex-direction: column;
  }

  .main__main {
    width: 100%;
  }

  .main__header {
    width: 100%;
  }

  .main__header h1.title {
    font-weight: var(--fw_700);
    color: var(--rose_900);
    font-size: 48px;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 32px;
  }

  /* END HEADER */

  .container.product-cards {
    margin-left: 26px;
    margin-bottom: 80px;
  }

  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 32px;
    width: 100%;
  }

  .item-card {
    /* display: flex;
    flex-direction: column;
    width: 88%;
    margin: 0 auto; */
    width: 30%;
    margin-right: 20px;
  }

  .item-card__image {
    margin-bottom: 50px;
  }

  .product-image {
    border-radius: 8px;
  }

  .item-card__button {
    border: 1px solid var(--rose_400);
    border-radius: 50px;
    width: 70%;
    padding: 4px 0px;
    background-color: white;
    margin: 0 0;
    text-align: center;
    bottom: 102px;
    left: 30px;
  }

  button img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }

  button.btn {
    font-size: 14px;
  }

  .item-card__title {
    color: var(--rose_500);
    font-size: 14px;
  }

  .item-card__description {
    color: var(--rose_900);
    font-weight: 600;
    font-size: 14px;
  }

  .item-card__price {
    color: var(--red);
    font-weight: 600;
    font-size: 14px;
  }

  .item-card__description,
  .item-card__price {
    margin-top: 2px;
  }

  /* Sidebar */

  .main__side {
    width: 100%;
    margin-bottom: 60px;
  }

  .sidebar {
    background-color: white;
    border-radius: 12px;
    padding: 24px;
  }

  .quantity {
    color: var(--red);
    font-size: 24px;
    font-weight: var(--fw_600);
  }

  .sidebar__cart-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
  }

  p.text {
    color: var(--rose_500);
    font-weight: var(--fw_600);
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/*//////////////////////////////////////////////////////////////
                            Large Desktops
//////////////////////////////////////////////////////////////*/

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .main.container-fluid {
    width: 100%;
  }

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
    padding: 0;
  }

  .main__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main__main {
    width: 60%;
    margin-left: 20px;
    padding-right: 0;
  }
  .main__content-container.container {
    padding: 0;
  }

  .main__header {
    width: 100%;
  }

  .main__header h1.title {
    font-weight: var(--fw_700);
    color: var(--rose_900);
    font-size: 48px;
    padding-top: 80px;
    padding-left: 0px;
    padding-bottom: 32px;
    text-align: start;
  }

  /* END HEADER */

  #product-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  .product-card {
    flex: 1 1 calc(33.333% - 20px); /* Make each product take up 1/3 of the container width */
    box-sizing: border-box;
  }

  .container.product-cards {
    margin-left: 26px;
    margin-bottom: 80px;
  }

  .item-card {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    margin-right: 20px;
    position: relative;
  }

  .item-card__image {
    margin-bottom: 50px;
  }

  .product-image {
    border-radius: 8px;
  }

  .item-card__button {
    border: 1px solid var(--rose_400);
    border-radius: 50px;
    width: 60%;
    padding: 0;
    background-color: white;
    margin: 0 0;
    text-align: center;
    position: absolute;
    bottom: 102px;
    left: 50px;
    width: 150px;
    height: 40px;
  }

  button img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
  }

  button.btn {
    font-size: 14px;
    transition: 100ms ease-in-out;
  }

  /* Button Hover */

  .btn:hover,
  button.item-card__button.btn:hover {
    cursor: pointer;
    color: var(--red);
    background-color: white;
    border-color: var(--red);
    border-width: 1px;
  }

  /* Update Cart Button */
  .updateQuantityButton {
    display: none;
  }

  .updateQuantityButton-show {
    display: flex;
    justify-content: space-between;
    background-color: var(--red);
  }

  .item-card__title {
    color: var(--rose_500);
  }

  .item-card__description {
    color: var(--rose_900);
    font-weight: 600;
  }

  .item-card__price {
    color: var(--red);
    font-weight: 600;
  }

  .item-card__description,
  .item-card__price {
    margin-top: 2px;
  }

  .price {
    font-size: 16px;
  }

  .items {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
  }

  /*//////////////////////////////////////////////////////////////
                    SIDEBAR / CART ITEMS
//////////////////////////////////////////////////////////////*/

  .main__side {
    width: 38%;
    padding-left: 0px;
  }

  .sidebar {
    background-color: white;
    border-radius: 12px;
    padding: 30px 20px 0 20px;
    margin-top: 56px;
  }

  .itemName {
    color: var(--rose_900);
    font-weight: 600;
    margin-right: 65px;
    display: inline;
  }

  .itemPrice {
    color: var(--red);
    margin-right: 0px;
    display: inline;
    text-align: right;
  }

  .cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }

  button.incrementButton {
    border-radius: 50px;
    color: var(--red);
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--rose_100);
    display: inline;
    padding: 0;
    float: right;
    margin-left: 15px;
  }

  button.decrementButton {
    margin-left: 15px;
    border-radius: 50px;
    color: var(--red);
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--rose_100);
    display: inline;
    padding: 0;
    float: right;
  }

  .quantity {
    color: var(--red);
    font-size: 24px;
    font-weight: var(--fw_600);
  }

  .sidebar__cart-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    padding-bottom: 40px;
  }

  p.text {
    color: var(--rose_500);
    font-weight: var(--fw_600);
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .secondRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    border-bottom: 1px solid var(--rose_100);
    padding-bottom: 10px;
  }

  .closeButton {
    border-radius: 50px;
    width: 22px; /* 28x28 */
    height: 22px;
    border: 1px solid var(--rose_400);
    text-align: center;
    margin: 0;
    background-color: #fff;
  }

  .cartQuantity,
  .costPerItem {
    margin-right: 15px;
    font-size: 14px;
  }

  .cartQuantity {
    color: var(--red);
    font-weight: 600;
  }

  .costPerItem {
    color: var(--rose_500);
    letter-spacing: 1.2px;
  }

  .itemTotal {
    color: var(--rose_500);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.2px;
  }

  .thirdRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }

  .orderTotalText {
    color: var(--rose_900);
    font-size: 14px;
    font-weight: 400;
  }

  .orderTotal {
    font-size: 18px;
    color: var(--rose_900);
    font-weight: 600;
  }

  .fourthRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--rose_50);
    padding: 20px 42px;
    margin: 20px auto;
    border-radius: 8px;
    font-size: 14px;
  }

  img.carbon-neutrl {
    margin-right: 6px;
  }

  .fifthRow {
    align-items: center;
    margin: 20px auto;
  }

  button.checkoutButton {
    border-radius: 50px;
    border: none;
    padding: 16px 90px;
    background-color: var(--red);
    color: #fff;
    font-size: 16px;
  }
}

/* Button Events */
.updateQuantityButton-hide {
  /* hide by default, onClick show */
  display: none;
}

.updateQuantityButton-show {
  /* onClick show */
  opacity: 1;
}
